:root {
    --primary-color: #ED0CE2;
    --secondary-color: white;
    --text-color: #333;
  }
  
  body {
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .dark-mode {
    --primary-color: #ED0CE2;
    --secondary-color: black;
    --text-color: white;
  }

  .global-button {
    background-color: var(--primary-color);
    color: var(--text-color);
  }